/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */
.bd-links {
    overflow: auto;
    font-weight: 600
}

@media (min-width: 768px) {
    .bd-links {
        position:-webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 7rem);
        padding-left: .25rem;
        margin-left: -.25rem;
        overflow-y: auto
    }
}

@media (max-width: 767.98px) {
    .bd-links>ul {
        padding:1.5rem .75rem;
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef
    }
}

.bd-links a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    color: rgba(0,0,0,0.65);
    text-decoration: none
}

.bd-links li li a {
    font-size: .875em;
}

.bd-links ul {
    margin-left: 1.25rem
}

.bd-links .btn {
    padding-top: .25rem;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    box-shadow:  none;
}

.bd-links span {
    color: rgba(0,0,0,0.65);
}

.bd-links .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

.bd-links .btn:hover::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.95%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.bd-links .btn[aria-expanded="true"] {
    color: rgba(0,0,0,0.85)
}

.bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.bd-links .active {
    font-weight: 600;
    color: rgba(0,0,0,0.85)
}
