/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */

.bd-links {
  padding-left: none;
  overflow: auto;
  font-weight: 600;
}

.bd-links a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  color: var(--bs-body-color);
  text-decoration: none;
}

.bd-links a:hover {
  color: var(--bs-link-hover-color);
}

.bd-links span {
  color: var(--bs-body-color);
}

.bd-links span:hover {
  color: var(--bs-link-hover-color);
}

.bd-links span.bd-divider:hover {
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .bd-links {
    position: sticky;
    display: block !important;

    padding-left: 0.25rem;
    margin-left: -0.25rem;
  }
}

@media (max-width: 767.98px) {
  .bd-links > ul {
    padding: 1.5rem 0.75rem;
    background-color: var(--bs-body-bg);
  }
}

.bd-links li li a {
  font-size: 0.875em;
}

.bd-divider {
  font-size: 0.875em;
  font-weight: 600;
}

.bd-links .btn {
  padding-top: 0.25rem;
  padding-bottom: 0;
  padding-left: 0.25rem !important;
  font-weight: 600;
  color: var(--bs-body-color);
  background-color: transparent;
  box-shadow: none;
}

[dir='rtl'] .bd-links .btn {
  padding-right: 0.25rem !important;
  padding-left: 0 !important;
}

.bd-links svg:hover {
  color: var(--bs-link-hover-color);
}

.bd-links .ps-2 {
  padding-left: 0.5rem !important;
}

[dir='rtl'] .bd-links .ps-2 {
  padding-right: 0.5rem !important;
  padding-left: 0 !important;
}

.bd-links .ps-3 {
  padding-left: 0.75rem !important;
}

[dir='rtl'] .bd-links .ps-3 {
  padding-right: 0.75rem !important;
  padding-left: 0 !important;
}

.bd-links .ps-4 {
  padding-left: 1rem !important;
}

[dir='rtl'] .bd-links .ps-4 {
  padding-right: 1rem !important;
  padding-left: 0 !important;
}

[dir='rtl'] .bd-links svg {
  transform: rotate(180deg);
}

.bd-links .btn[aria-expanded='true'] svg {
  transform: rotate(90deg);
}

.bd-links .btn:focus-visible {
  outline: 2px solid;
  outline-color: var(--bs-link-hover-color);
}

.bd-links .active {
  font-weight: 600;
  color: var(--bs-body-color);
}
