
/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

.cmdname,
.codeph,
.filepath,
.option,
.parmname {
  color: var(--bs-code-color);
  font-family: var(--bs-font-monospace);
}

.numcharref,
.parameterentity,
.textentity,
.xmlatt,
.xmlelement,
.xmlnsname,
.xmlpi {
  color: var(--bs-purple);
  font-family: var(--bs-font-monospace);
}

.cmdname,
.parmname {
  color: #1d365d;
  font-weight: bold;
}

.boolean {
  color: var(--bs-green);
}

.state {
  color: var(--bs-red);
}

.navbar-brand > svg {
  margin: 4px 6px;
  vertical-align: text-top;
}

.bs-container {
  margin: 3rem auto;
}

.bs-sidebar-nav {
  overflow: auto;
}

.bs-header {
  z-index: 1020;
}

/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */
@media (min-width: 768px) {
  .bs-container {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 1fr 3fr;
    width: 768px;
  }
}

@media (min-width: 992px) {
  .bs-container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .bs-container {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .bs-container {
    width: 1400px;
  }
}

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */
@media (min-width: 768px) {
  .bs-main {
    width: 576px;
  }
}

@media (min-width: 992px) {
  .bs-main {
    width: 744px;
  }
}

@media (min-width: 1200px) {
  .bs-main {
    width: 900px;
  }
}

@media (min-width: 1400px) {
  .bs-main {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .bs-sidebar-nav {
    display: block !important;
    height: calc(100vh - 7rem);
    margin-left: 2rem;
    overflow-y: auto;
    padding-left: 0.25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
  }
}

@media (min-width: 768px) {
  .bs-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */

.bd-links {
  overflow: auto;
  font-weight: 600;
  padding-left: none;
}

.bd-links a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  text-decoration: none;
  color: var(--bs-body-color);
}

.bd-links a:hover {
  color: var(--bs-link-hover-color);
}

.bd-links span {
  color: var(--bs-body-color);
}

.bd-links span:hover {
  color: var(--bs-link-hover-color);
}

@media (min-width: 768px) {
  .bd-links {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }
}

@media (max-width: 767.98px) {
  .bd-links > ul {
    padding: 1.5rem 0.75rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
  }
}

.bd-links li li a {
  font-size: 0.875em;
}

.bd-links .btn {
  padding-top: 0.25rem;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: var(--bs-body-color);
}

.bd-links svg:hover {
  color: var(--bs-link-hover-color);
}

[dir='rtl'] .bd-links svg {
  transform: rotate(180deg);
}

.bd-links .btn[aria-expanded='true'] svg {
  transform: rotate(90deg);
}

.bd-links .active {
  font-weight: 600;
  color: var(--bs-body-color);
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */


:root {
  --prism-maintext: black;
  --prism-background: #f5f2f0;
  --prism-text: #999;
  --prism-keywords: #07a;
  --prism-punctuation: #999;
  --prism-functions: #f08d49;
  --prism-strings:  #690;
  --prism-namespace:  #e2777a;
  --prism-names: #6196cc;
  --prism-symbol: #DD4A68;
  --prism-url: #67cdcc;
}

[data-theme="dark"] {
  --prism-maintext: #ccc;
  --prism-background: #2d2d2d;
  --prism-text: #999;
  --prism-keywords: #cc99cd;
  --prism-punctuation: #ccc;
  --prism-functions: #f08d49;
  --prism-strings:  #7ec699;
  --prism-namespace:  #e2777a;
  --prism-names: #6196cc;
  --prism-symbol: #f8c555;
  --prism-url: #9a6e3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --prism-maintext: #ccc;
    --prism-background: #2d2d2d;
    --prism-text: #999;
    --prism-keywords: #cc99cd;
    --prism-punctuation: #ccc;
    --prism-functions: #f08d49;
    --prism-strings:  #7ec699;
    --prism-namespace:  #e2777a;
    --prism-names: #6196cc;
    --prism-symbol: #f8c555;
    --prism-url: #9a6e3a;
  }

  [data-theme="light"] {
    --prism-maintext: black;
    --prism-background: #f5f2f0;
    --prism-text: #999;
    --prism-keywords: #07a;
    --prism-punctuation: #999;
    --prism-functions: #f08d49;
    --prism-strings:  #690;
    --prism-namespace:  #e2777a;
    --prism-names: #6196cc;
    --prism-symbol: #DD4A68;
    --prism-url: #67cdcc;
  }
}
/**
 * Use css variables in themes with a fallback to the prism.js default theme 
 * Based on https://github.com/PrismJS/prism/issues/2603
 * @author Richard Werkman 
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--prism-maintext, #ccc);
	background: none;
	font-family: var( --bs-font-monospace, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace);
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* :not(pre) > code[class*="language-"],*/
pre[class*="language-"] {
	background: var(--prism-background, #2d2d2d);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--prism-text, #999);
}

.token.punctuation {
	color: var(--prism-punctuation, #ccc);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: var(--prism-names, #e2777a);
}

.token.function-name {
	color: var(--prism-punctuation, #6196cc);
}

.token.boolean,
.token.number,
.token.function {
	color: var(--prism-functions, #f08d49);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: var(--prism-symbol, #f8c555);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: var(--prism-keywords, #cc99cd);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: var(--prism-strings, #7ec699);
}

.token.operator,
.token.entity,
.token.url {
	color: var(--prism-url, #67cdcc);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: var(--inserted, green);
}