/* Style navigation as sidebar */
nav[role=toc] {
  float: left;
}

/* Highlight current topic in bold */
nav[role=toc] li.active > a {
  font-weight: bold;
}

/* Adjust navigation indentation */
.bs-docs-sidenav,
.bs-docs-sidenav li ul {
  padding-left: 20px;
}

/* Fix table conflict with bootstrap's row class */
.table .row {
  display: table-row;
}
