.bs-scrollspy {
  grid-area: scrollspy;
}

@media (max-width: 991.98px) {
  .bs-main {
    grid-template-areas: 'content';
  }

  .bs-scrollspy {
    display: none;
  }
}

@media (min-width: 992px) {
  .bs-main {
    grid-template-areas: 'content scrollspy';
    grid-template-columns: 4fr 1fr;
  }

  .bs-scrollspy {
    position: sticky;
    top: 5.25rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }
}

.bs-scrollspy nav {
  font-size: 0.875rem;
}

.bs-scrollspy nav ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bs-scrollspy nav ul ul {
  padding-left: 1rem;
}

.bs-scrollspy nav[dir='rtl'] ul ul {
  padding-right: 1rem;
  padding-left: 0;
}

.bs-scrollspy nav a {
  display: block;
  padding: 0.125rem 0 0.125rem 0.75rem;
  color: var(--bs-body-color);
  text-decoration: none;
  border-left: 0.125rem solid transparent;
}

.bs-scrollspy nav a:hover,
.bs-scrollspy nav a.active {
  color: var(--bs-link-hover-color);
  border-left-color: var(--bs-primary);
}

.bs-scrollspy nav[dir='rtl'] a.active,
.bs-scrollspy nav[dir='rtl'] a:hover {
  border-right-color: var(--bs-primary);
  border-right-style: solid;
  border-left-color: transparent;
}

.bs-scrollspy nav a.nav-link:hover,
.bs-scrollspy nav a.nav-link.active {
  border-right-color: transparent;
  border-left-color: transparent;
}

.bs-scrollspy nav a.active {
  font-weight: 500;
}

.bs-scrollspy nav a code {
  font: inherit;
}

.nested1,
article h2,
article h3,
article h4,
article [tabindex='0'] {
  scroll-margin-bottom: 100px;
}
