/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */
@media (min-width: 768px) {
  .bs-container {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 1fr 3fr;
    width: 768px;
  }
}

@media (min-width: 992px) {
  .bs-container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .bs-container {
    width: 1200px;
  }
}

@media (min-width: 1400px) {
  .bs-container {
    width: 1400px;
  }
}

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */
@media (min-width: 768px) {
  .bs-main {
    width: 576px;
  }
}

@media (min-width: 992px) {
  .bs-main {
    width: 744px;
  }
}

@media (min-width: 1200px) {
  .bs-main {
    width: 900px;
  }
}

@media (min-width: 1400px) {
  .bs-main {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .bs-sidebar-nav {
    display: block !important;
    height: calc(100vh - 7rem);
    margin-left: 2rem;
    overflow-y: auto;
    padding-left: 0.25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
  }
}

@media (min-width: 768px) {
  .bs-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
