/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! These values define the relative width of the
 *  main content window compared with the sidebar-nav
 */

.bs-container {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.bs-sidebar {
  grid-area: sidebar;
}

.bs-main {
  grid-area: main;
}

.bs-content {
  grid-area: content;
  min-width: 1px;
}

.bs-fixed-sidetoc {
  height: calc(100vh - 10rem);
}
.bs-fixed-footer {
  height: auto;
  padding-top: 0.25rem;
}

@media (max-width: 991.98px) {
  .bs-main {
    max-width: 760px;
    margin-inline: auto;
  }
  .bs-fixed-sidetoc {
    height: calc(100vh);
  }
}

@media (min-width: 768px) {
  .bs-main {
    display: grid;
    grid-template-areas: 'content';
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
}

@media (min-width: 992px) {
  .bs-main {
    grid-template-areas: 'content';
    grid-template-rows: auto 1fr;
  }

  .codeblock {
    min-width: 100%;
    max-width: calc(80vw - 2rem);
  }

  .bs-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
  }
}

@media (max-width: 991.98px) {
  .bd-navbar .bd-navbar-toggle {
    width: 4.25rem;
  }

  .bs-container {
    grid-template-columns: 0fr 1fr;
  }

  .codeblock,
  .table,
  .tablist,
  .note,
  .carousel,
  .section,
  .shortdesc,
  .topic {
    max-width: calc(100vw - 4rem);
  }

  .bs-sidebar .offcanvas-lg {
    border-right-color: var(--bs-border-color);
  }
}

.nested0 {
  margin-top: 0;
}

.nested1 {
  margin-top: 1em;
}

.nested0,
article h1 {
  scroll-margin-top: 7.25rem;
}

.nested1,
article h2,
article h3,
article h4,
article [tabindex='0'] {
  scroll-margin-top: 5.25rem;
}
