/*!
 *
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

.codeblock {
  font-family: var(--bs-font-monospace);
}

.codeph {
  font-family: var(--bs-font-monospace);
}

.filepath {
  font-family: var(--bs-font-monospace);
}

.boolean {
  color: var(--bs-success);
}

.state {
  color: var(--bs-danger);
}

.numcharref {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.parameterentity {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.textentity {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.xmlatt {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.xmlelement {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.xmlnsname {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.xmlpi {
  color: var(--bs-pink);
  font-family: var(--bs-font-monospace);
}

.navbar-brand > svg {
  margin: 4px 6px;
  vertical-align: text-top;
}

.list-group-item-dark {
  background-color: #e7f1ff;
}
